{% extends "blog/base.html" %}

{% block tabtitle %} 
<title> La Journal | About </title>

{% endblock tabtitle %}

{% block content %}
<div id="content">
<p>
La Journal is a place to share your stories, your life, your passions. No judgment. No boundaries.
</p>
<p>Create your own blog for free. All you need is an email address to get started.</p>
<p>
This web application was built by Morgan Waites with Python programming language and Django web framework. The database is built with SQLite. This site is not production-ready, but primarily for portfolio and learning purposes.
</p>

</div>
<button id="get-started" class="btn btn-outline-dark mt-auto" onclick="window.location.href='{% url 'register' %}';">
                            Get Started
                        </button>

{% endblock content %}