  
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
      	{% block tabtitle %}<title>La Journal</title> {% endblock tabtitle %}
        <!-- Favicon-->
        <link rel="icon" href="{% static 'kissclip.png' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'blog/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'site-home' %}">HOME</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'site-about' %}">ABOUT</a></li> <li class="nav-item"><a class="nav-link" href="{% url 'explore-page' %}">EXPLORE</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'site-help' %}">HELP</a>
                        </li>
                    </ul>
                    
                    {% if user.is_authenticated %}
                    
                    <a class="nav-link" href="{% url 'profile' %}">PROFILE</a>

	                {% else %}

                        <a href="{% url 'register' %}" class="nav-link">
                          SIGN UP 
                        </a>
                   
                  	{% endif %}

                  	{% if user.is_authenticated %}
                  	
                    <a class="nav-link" href="{% url 'user-blog' user.username %}">BLOG</a>
          
	           
                   
                    <a class="nav-link" href="{% url 'post-create' %}">NEW POST</a>

	             
                  	{% endif %}
                  {% if user.is_authenticated %}
                
                  	  <a class="nav-link" href="{% url 'logout' %}">LOG OUT</a>
                  	 
             
                   {% else %}
                     <a class="nav-link" href="{% url 'login' %}">LOG IN</a>
                    {% endif %}
                
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center">
                    <h1 class="display-4 fw-bolder">LA JOURNAL</h1>
                  	
                         <img style="margin: -.75rem;" src="{% static 'kissclip.png'%}">
                </div>
            </div>
        </header>
        <!-- Section-->
        <div class="mb-5" style="width:33.3333333%; margin: 0 auto;">
        {% if messages %}
                    	{% for message in messages %}
                    		<div class="alert alert-{{ message.tags }}">
                    			{{ message }}
                    		</div>
                    	{% endfor %}
                    {% endif %}
                </div>
        <section>
            <div class="container px-4 px-lg-5 fill-page-center">
            	 
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                   
                    {% block content %} {% endblock content %}
                	{% block postscontent %} {% endblock postscontent %}
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; La Journal 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'blog/scripts.js' %}"></script>
    </body>
</html>
