{% extends "blog/base.html" %}
{% block tabtitle %} 
<title>La Journal | Home</title>
{% endblock tabtitle %}
{% block postscontent %} 


{% for post in posts %}
 {% if forloop.counter <= 20 %}
	<div class="col mb-5">

  	  <div class="card h-100">
      
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Post</div>
                <!-- Product image-->
            <img class="card-img-top" src="{{ post.author.profile.profile_pic.url }}" alt="..." />
                <div class="card-body p-4">
                    <div class="text-center card-body-text">
                        <a href="{% url 'post-detail' post.id %}"> <h5 class="fw-bolder">{{ post.title }}</h5></a><br>
                        <div id="post-content">{{ post.post_content }}</div>
                            </div>
                            <div class="card-footer p-4 border-top-0 bg-transparent">
                                <div class="text-center add-bottom-padding"><a class="btn btn-outline-dark mt-auto" href="{% url 'user-blog' post.author %}">by {{ post.author }}</a></div>
                                 <div class="text-center">

                        <h6 class="fw-bolder">{{ post.date_posted }}</h6>
                       </div>
                            </div>
                                
                          
                        </div>
                    </div>	
                </div>
   



{% endif %}
{% endfor %}
{% endblock postscontent %}
