{% extends 'blog/base.html' %}

{% block tabtitle %} 
<title>La Journal</title>
{% endblock tabtitle %}
{% block content %}

<div id="content">


    <legend class="border-bottom mb-4">{{post.title }}</legend>
                   
                     <div class="post-body add-bottom-padding">
                                
                                  <div id="post-content">{{ post.post_content }}</div>

</div>
                                <div class="text-center add-bottom-padding"><a href="{% url 'user-blog' post.author %}"><h5 class="fw-bolder">by {{ post.author }}</h5></a></div>
                                 <div class="text-center">

                        <h6 class="fw-bolder">{{ post.date_posted }}</h6>
                        
                        {% if post.author == user %}
                            <a id="edit-btn" class="btn btn-secondary mt-1 mb-1" href="{% url 'post-update' object.id %}">Edit</a>
                            <a id="delete-btn" class="btn btn-danger mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>

                        {% endif %}
                       </div>
                            
                    </div>  
   




{% endblock content %}

<!-- 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    
    <title>Home</title>
    <div id="homeNav">
         
        <div id="lilH" style="float: left;">HOME EXPLORE ABOUT HELP</div>
        <div id="lilH" style="float: right">LOGIN | REGISTER</div>
    </div