{% extends 'blog/base.html' %}

{% block tabtitle %} 
<title>La Journal</title>
{% endblock tabtitle %}
{% block postscontent %}

<div class="col mb-5">

      <div class="card h-100">
            <!-- Sale badge-->
            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Post</div>
                <!-- Product image-->
            <img class="card-img-top" src="{{ post.author.profile.profile_pic.url }}" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                    <!-- Product name-->
                        <h5 class="fw-bolder">{{object.title }}</h5>
                        <!-- Product reviews-->
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                              </div>
                                    <!-- Product price-->
                                
                                  {{ object.post_content }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">by {{ object.author }}</a></div>
                                 <div class="text-center">

                        <h5>{{ object.date_posted }}</h5>
                        {% if object.author == user %}
                            <a class="btn btn-secondary mt-1 mb-1" href="{% url 'post-update' object.id %}">Edit</a>
                            <a class="btn btn-danger mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>

                        {% endif %}
                       </div>
                            </div>
                        </div>
                    </div>  
   




{% endblock postscontent %}

<!-- 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    
    <title>Home</title>
    <div id="homeNav">
         
        <div id="lilH" style="float: left;">HOME EXPLORE ABOUT HELP</div>
        <div id="lilH" style="float: right">LOGIN | REGISTER</div>
    </div