
{% extends 'blog/base.html' %}

{% block tabtitle %} 


{% for object in object_list %}
<title>{{ object.author }}</title> {{ break }}
{% endfor %}

{% endblock tabtitle %}
{% block content %}
{% for object in object_list %}
<div id="content">


    <legend class="border-bottom mb-4"><a class="underline-none" href="{% url 'post-detail' object.id %}">{{object.title }}</a></legend> 
                   
                     <div class="post-body add-bottom-padding">
                                
                                  <div id="post-content">{{ object.post_content }}</div>

</div>
                                <div class="text-center add-bottom-padding"><a href="#"><h5 class="fw-bolder">by {{ object.author }}</h5></a></div>
                                 <div class="text-center">

                        <h6 class="fw-bolder">{{ object.date_posted }}</h6>
                       
                       </div>
                            
                    </div>  
{% endfor %}

{% endblock content %}


